.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-700);
  width: 100vw;
  height: 12.5rem;
}

@media screen and (max-width: 768px) {
  .header {
    height: 8rem;
  }
}